html, body{
margin: 0;
padding: 0;
}
.section.jaune {
	display: block;
	height: auto; 
	min-height: 500px;
	padding-top: 100px; 
	padding-bottom: 60px;
	background-color: #f2b919;
	background-clip: border-box;
}

.section.noir {
    display: block;
	height: auto; 
	min-height: 500px;
	padding-top: 100px; 
	padding-bottom: 60px;
	background-color: black;
	background-clip: border-box;
}

.cercles {
	display: flex;
	flex-wrap: wrap;
	margin-right: 330px;
    transform: translate(200px); 
	top: 30px;
	left: 500px;
	align-content: right;
}
.grand-cercle-blanc {
	width: 150px;
    height: 150px;
	margin: 0;
	border-radius: 50%;
    background-color: #fff;
}

.grand-cercle-vert {
	width: 150px;
    height: 150px;
	margin: 0;
	border-radius: 50%;
    background-color: #03b2a3;

}
.grand-cercle-vert:hover { 
	background-color: #ef2a24;
	border-radius: 10%;
	transition: border-radius 0.2s, background 0.2s;

 }


.section.rouge {
    display: block;
	height: auto; 
	min-height: 500px;
	padding-top: 100px; 
	padding-bottom: 60px;
	background-color: #ef2a24;
	background-clip: border-box;
}

.heading { 
	margin-left: 205px;
	font-family: 'Helvetica', sans-serif; 
	color: #000;
	font-size: 20px; 
    line-height: 1%; 
 }

.Helvetica {
	position: static;
	margin: 3px 259px 0px 205px; 
	padding-top: 40px;
	padding-right: 0px;
	padding-left: 0px; 
	font-family: 'Helvetica', sans-serif; 
	font-weight : bold;
	color: #000; 
	font-size: 80px; 
	line-height: 1em; 
	
}

.text-block-1 {
	margin-top: 20px; 
	margin-right: 180px;
	padding-left: 205px; 
	padding-top: 0px; 
	padding-right: 516px;
	font-family: 'Helvetica', sans-serif; 
	font-weight : black;
	color: #000; 
	font-size: 30px; 

}

.text-block-2 {
	margin-top: 20px; 
	margin-right: 180px;
	padding-left: 205px; 
	padding-top: 0px; 
	padding-right: 516px;
	padding-bottom: 100px;
	font-family: 'Helvetica', sans-serif; 
	color: white; 
	font-size: 30px; 

}

.text-block-3 {
	display: block;
	margin-top: 100px; 
	margin-right: 170px;
	padding-left: 280px; 
	padding-top: 0px; 
	padding-right: 16px;
	padding-bottom: 100px;
	font-family: 'Helvetica', sans-serif; 
	color: black; 
	font-size: 25px; 
	left: 300px;
}

.paragraphe {
	margin-top: 10px;
	margin-left: 686px;
	margin-right: 205px;
	padding-top: 0px; 
	padding-bottom: 10px;
	padding-right: auto;
	padding-left: auto; 
	font-family: 'Helvetica', sans-serif, medium; 
	color: #000;
}

.line {
	display: block; 
	height: 60px; 
	max-height: 5px; 
	margin-right: 228px; 
	margin-left: 205px; 
	padding-top: 0px; 
	padding-right: 428px
	border-radius:0px;
	background-color: #000;
}

.line-white {
	display: block; 
	height: 60px; 
	max-height: 5px; 
	margin-right: 228px; 
	margin-left: 205px; 
	padding-top: 0px; 
	padding-right: 428px
	border-radius:0px;
	background-color: white;
}

.design { 
	position: static;
	margin: 3px 259px 0px 205px; 
	padding-top: 40px;
	padding-right: 0px;
	padding-left: 0px; 
	font-family: 'Helvetica', sans-serif, bold; 
	color: white; 
	font-size: 80px; 
	line-height: 1em; 
	animation: showup 7s infinite;
 }

#titre-tb3 {
	font-family: 'Helvetica', sans-serif; 
	color: black; 
	font-size: 50px;
	padding-left: -50px;
	margin-top: 70px;
	font-weight: bolder;
 }

 #titre2-tb3 {
	font-family: 'Helvetica', sans-serif; 
	color: #fff; 
	font-size: 20px;
	top: 50px;
	padding-left: -50px;
	font-weight: bold;
 }

 #cross {
	background: #000;
	height: 100px;
	position: relative;
	width: 20px;
	left: -50px;
	top: 50px;
	right: 500px;
	transform: scale(3); 

  }

  #cross:after {
	background: #000;
	content: "";
	height: 20px;
	left: -40px;
	position: absolute;
	top: 40px;
	width: 100px;
	animation: rotate 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
  }

  #cross-2 {
	background: #000;
	height: 100px;
	position: relative;
	width: 20px;
	left: 700px;
	top: -50px;
	right: 100px;
	transform: scale(1);

	animation: rotate 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);

  }

  #cross-2:after {
	background: #000;
	content: "";
	height: 20px;
	left: -40px;
	position: absolute;
	top: 40px;
	width: 100px;

	animation: rotate 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
  }

  #cross-3 {
	background: #000;
	height: 100px;
	position: relative;
	width: 20px;
	left: 700px;
	 right: 100px;
	 transform: scale(1);
	 margin-top: 100px;
	animation: rotate 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
  }
  
  #cross-3:after {
	background: #000;
	content: "";
	height: 20px;
	left: -40px;
	position: absolute;
	top: 40px;
	width: 100px;

	animation: rotate 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
  }

  @keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}

 @font-face {
 	font-family: 'Helvetica'; 
 }
 
