html, body{
margin: 0;
padding: 0;
}
.section.jaune {
	display: block;
	height: auto; 
	min-height: 500px;
	padding-top: 100px; 
	padding-bottom: 60px;
	background-color: #f2b919;
	background-clip: border-box;
}

.inner{
		max-width: 76vw;
		padding: 3vw;
		margin: 0 auto;
		transform: scale(0.7,0.7);
		position: absolute;
		left: 17vw;
        top: 30vw;
        animation:  showup 4s infinite; 
		animation-play-state: paused;
    	animation-delay: calc(var(--scroll) * -3s);
	}
	
	h1{
		font-size: 9vw;
		line-height: 75%;
		margin: 0;
		font-weight: bold;
	}
	
	.rotatedtext h2{
		font-size: 40px;
		font-family: 'Helvetica';
		clear: both;
		margin: 0;
		padding: 0;
		line-height: 130%;
	}
	
	.border h2{
		padding-bottom: 2px;
	}
	
	h3{
		font-size: 1vw;
		font-weight: 200;
		margin: 0 auto; 
		width: 100%;
		line-height: 100%;
		opacity: .8;
	}

	.rotatedtext{
		position: relative; 
		font-family: 'Helvetica';
		width: 50%; 
		height: 34vw; 
		-moz-transform:rotate(45deg); 
		transform:rotate(45deg); 
		-webkit-transform:rotate(45deg); 
		float: left;"
	}
	
	.name{
		-webkit-transform:rotate(-90deg); 
		position: absolute; 
		left: 5.3vw; 
		top: 1.8vw;
		float: left;
	}
	
	.name h2{
		margin-top: 1.2vw; 
		color: black;
	}

	.role{
		-webkit-transform:rotate(0); 
		position: absolute; 
		top: 27vw;
	}
	
	.job{
		animation: pulse 5s infinite;
		margin-top: -1.2vw;
	}
	
	.co{
		font-size: 80px; 
		text-align: center; 
		margin-top: 1.2vw;
	}

.section.noir {
    display: block;
	height: auto; 
	min-height: 500px;
	padding-top: 100px; 
	padding-bottom: 60px;
	background-color: black;
	background-clip: border-box;
}

.cercles {
	display: flex;
	flex-wrap: wrap;
	margin-right: 27vw;
    transform: translate(17vw); 
	top: 2.5vw;
	left: 42vw;
	align-content: right;
	animation: slidein 7s, showup 7s infinite; 
	animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -3s);
}
.grand-cercle-blanc {
	width: 6vw;
    height: 6vw;
	margin: 0;
	border-radius: 50%;
    background-color: #fff;
}


.grand-cercle-blanc:hover { 
	background-color: #f2b919;
	border-radius: 10%;
	transition: border-radius 0.2s, background 0.2s;
 }

.grand-cercle-vert {
	width: 6vw;
    height: 6vw;
	margin: 0;
	border-radius: 50%;
    background-color: #03b2a3;
    animation: slidedown 7s, showup 7s infinite; 
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -3s);

}

.grand-cercle-vert:hover { 
	background-color: #ef2a24;
	border-radius: 10%;
	transition: border-radius 0.2s, background 0.2s;

 }


.section.rouge {
    display: block;
	height: auto; 
	min-height: 500px;
	padding-top: 100px; 
	padding-bottom: 60px;
	background-color: #ef2a24;
	background-clip: border-box;
}

.heading { 
	margin-left: 205px;
	font-family: 'Helvetica', sans-serif; 
	color: #000;
	font-size: 20px; 
    line-height: 1%; 
 }

.Helvetica {
	position: static;
	margin: 0.2vw 18vw 0vw 12vw; 
	padding-top: 0px;
	padding-right: 3vw;
	padding-left: 0vw; 
	font-family: 'Helvetica', sans-serif, BOLD; 
	font-weight : bold;
	color: #000; 
	font-size: 4.7vw; 
	line-height: 1em; 
	animation: slidein 1s infinite alternate; 

}

.Helvetica.deux {
	animation: slidein 1.5s infinite alternate; 
}
.Helvetica.trois {
	animation: slidein 1.4s infinite alternate; 
}
.Helvetica.quatre {
	animation: slidein 1.3s infinite alternate; 
}
.Helvetica.cinq {
	animation: slidein 1.2s infinite alternate; 
}
.Helvetica.six {
	animation: slidein 1s infinite alternate; 
}
.Helvetica:hover {
	position: static;
	margin: 0.2vw 18vw 0vw 12vw; 
	padding-top: 0px;
	padding-right: 3vw;
	padding-left: 0vw; 
	font-family: 'Helvetica', sans-serif, BOLD; 
	font-weight : bold; 
	font-size: 4.7vw; 
	line-height: 1em;
    -webkit-text-stroke: 2px black;
    color: #f2b919;
	animation: slidein 7s infinite; 
	animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -3s);

}

.text-block-1 {
	margin-top: 1vw; 
	margin-right: 10.7vw;
	padding-left: 12vw; 
	padding-top: 0vw; 
	padding-right: 30.7vw;
	font-family: 'Helvetica', sans-serif; 
	font-weight : black;
	color: #000; 
	font-size: 30px; 
	animation: slidein 7s infinite; 
	animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -3s);

}

.text-block-2 {
	margin-top: 1.2vw; 
	margin-right: 10.7vw;
	padding-left: 12.2vw; 
	padding-top: 0px; 
	padding-right: 30.7vw;
	padding-bottom: 100px;
	font-family: 'Helvetica', sans-serif; 
	color: white; 
	font-size: 1.5vw; 
	animation: slidein 7s, showup 14s infinite; 
	animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -3s);


}

.text-block-3 {
	display: block;
	margin-top: 100px; 
	margin-right: 170px;
	padding-left: 280px; 
	padding-top: 0px; 
	padding-right: 16px;
	padding-bottom: 100px;
	font-family: 'Helvetica', sans-serif; 
	color: black; 
	font-size: 25px; 
	left: 300px;
	animation: slidein 7s, showup 7s infinite; 
	animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -3s);
}

.paragraphe {
	margin-top: 0.5vw;
	margin-left: 45vw;
	margin-right: 12vw;
	padding-top: 0px; 
	padding-bottom: 0.6vw;
	padding-right: auto;
	padding-left: auto; 
	font-family: 'Helvetica', sans-serif, light; 
	font-size: 1.2vw;
	color: #000;
	text-align: justify;
    text-justify: inter-word;
    animation:  showup 7s infinite; 
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -3s);
}

.line {
	display: block; 
	height: 3.5vw; 
	max-height: 0.3vw; 
	margin-right: 13.5vw; 
	margin-left: 12.2vw; 
	padding-top: 0vw; 
	padding-right: 25.4vw;
	border-radius:0vw;
	background-color: #000;
}

.line-white {
	display: block; 
	height: 3.5vw; 
	max-height: 0.3vw; 
	margin-right: 13.5vw; 
	margin-left: 12.2vw; 
	padding-top: 0vw; 
	padding-right: 25.4vw;
	border-radius:0vw;
	background-color: white;
}

.design { 
	position: static;
	margin: 1vw 0vw 0vw 12vw; 
	padding-top: 4vw;
	padding-right: 0vw;
	padding-left: 0vw; 
	font-family: 'Helvetica', sans-serif, bold; 
	color: white; 
	font-size: 5vw; 
	line-height: 1em; 

	animation: slidein 7s, showup 14s infinite; 
	animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -3s);

 }

#titre-tb3 {
	font-family: 'Helvetica', sans-serif; 
	color: black; 
	font-size:  2.5vw;
	font-weight: bolder;
	animation: slidein 7s, showup 7s infinite; 
	animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -3s);
 }

 #titre2-tb3 {
	font-family: 'Helvetica', sans-serif; 
	color: #fff; 
	font-size: 1.5vw;
	margin: 0;
	font-weight: bold;
	animation: slidein 7s, showup 7s infinite; 
	animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -3s);
 }

 .paragraphe3 {
	margin-top: 0.5vw;
	margin-left: 15vw;
	margin-right: 12vw;
	padding-top: 1vw; 
	padding-bottom: 0.6vw;
	padding-right: auto;
	padding-left: auto; 
	font-family: 'Helvetica', sans-serif, light; 
	font-size: 1.5vw;
	color: #000;
	text-align: justify;
    text-justify: inter-word;
    animation: slidein 7s, showup 7s infinite; 
	animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -3s);
}

 img {
 	width: 18vw;
    height: 18vw;
    margin: 0;
 	display: inline-block;
 	animation: rotate 1s linear infinite;
 	animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -3s);

 }
/*
 #cross {
	background: #000;
	height: 100px;
	position: relative;
	width: 20px;
	left: -50px;
	top: 50px;
	right: 500px;
	transform: scale(3); 

  }

  #cross:after {
	background: #000;
	content: "";
	height: 20px;
	left: -40px;
	position: absolute;
	top: 40px;
	width: 100px;
	animation: rotate 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
  }

  #cross-2 {
	background: #000;
	height: 100px;
	position: relative;
	width: 20px;
	left: 700px;
	top: -50px;
	right: 100px;
	transform: scale(1);

	animation: rotate 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);

  }

  #cross-2:after {
	background: #000;
	content: "";
	height: 20px;
	left: -40px;
	position: absolute;
	top: 40px;
	width: 100px;

	animation: rotate 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
  }

  #cross-3 {
	background: #000;
	height: 100px;
	position: relative;
	width: 20px;
	left: 700px;
	 right: 100px;
	 transform: scale(1);
	 margin-top: 100px;
	animation: rotate 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
  }
  
  #cross-3:after {
	background: #000;
	content: "";
	height: 20px;
	left: -40px;
	position: absolute;
	top: 40px;
	width: 100px;

	animation: rotate 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
  }
  */

  @keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
   to { 
   transform: translateX(100px);
    }
}



@keyframes slideup {
   to { 
   transform: translateY(150px);
    }
}

@keyframes slidedown {
   to { 
   transform: translateY(-150px);
    }
}
 @font-face {
 	font-family: 'Helvetica'; 
 	
 }
 
	
	
	
@keyframes pulse {
	0% {
	color: #001F3F;
}
	100% {
	color: red;
		}
}
